In [2]:
import findspark

In [3]:
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [7]:
df = spark.read.json("/home/ubuntu/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json")

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

df.printSchema()
df.columns
df.describe().show()

## sample code
from pyspark.sql.types import StructField,IntegerType,StringType,StructType
data_schema = [StructField('age', IntegerType(), True),
                StructField('name', StringType(), True)]
final_struct = StructType(fields=data_schema)
df = spark.read.json("/home/ubuntu/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json", schema=final_struct)
df.printSchema()
df.show()

In [11]:
type(df['age']) ## type is columns object

pyspark.sql.column.Column

In [12]:
df.select('age').show() ## type is dataframe object

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [14]:
df.head(2)[0] ## type is row onject

Row(age=None, name='Michael')

In [15]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [19]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [22]:
df.createOrReplaceTempView('people')

In [25]:
results = spark.sql("Select * from people")
new_results = spark.sql("Select * from people where age=30")

In [26]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+